:root {
  --main-beige: #fff9eb;
  --main-bg-color: #04101c;
  --primary-dark-blue: #103150;
  --primary-blue: #d2f7ff;
  --primary-accent: #ffc736;
  --secondary-border: #bfd9f1;
  --secondary-dark: #272727;
  --secondary-medium-blue: #3d6890;
  --secondary-card-blue: rgba(9, 71, 130, 0.3);
  --tetriary-button-blue: #152739;
  --tetriary-light-green: #74efa5;
  --tetriary-grey: #b9b9b9;
  --tetriary-pale-grey: #9e9e9e;
}
