.advertisement-section {
  @media screen and (max-width: 1040px) {
    padding-bottom: 260px; // 220px + 40px (missing)
  }
  @media screen and (max-width: 708px) {
    padding-bottom: 40px;
  }
  &__title {
    margin-bottom: 32px;
  }
}

.advertisement-cards {
  position: relative;
}
.advertisement-card-big {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.44)),
    url(../img/present-giveaway.png) right 88px bottom -8px / 247px no-repeat,
    url(../img/advertisement-card-bg.jpg);
  max-width: 745px;
  border-radius: 15px;
  padding: 80px;

  @media screen and (max-width: 708px) {
    padding: 54px;
    margin-bottom: 24px;
  }
  @media screen and (max-width: 504px) {
    padding: 54px 24px;
  }

  &__text {
    // font-family: "Jost", sans-serif;
    font-size: 22px;
    margin-bottom: 32px;
  }

  &__buttons {
    display: flex;
    gap: 24px;
  }
}

.advertisement-card-small {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-width: 520px;
  background:
    url(../img/icons/promo-order-icon.svg) right 8px bottom 4px / 102px
      no-repeat,
    #061b2f;
  padding: 28px;
  background-repeat: no-repeat;
  border-radius: 15px;

  @media screen and (max-width: 1040px) {
    bottom: -220px;
    top: auto;
    right: 0;
    transform: translateY(0);
  }
  @media screen and (max-width: 708px) {
    position: static;
    // top: calc(100% + 24px);
    // margin-bottom: 24px;
    // bottom: auto;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 24px;
  }

  &__title-description {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__block {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 540px) {
      gap: 24px;
      flex-direction: column-reverse;
      width: 200px;
    }
  }
}
