.section-statistics {
  &__data-wrapper {
    display: flex;
    // justify-content: space-between;
    border: 2px solid var(--tetriary-border);
    border-radius: 10px;
    background: var(--navy-blue-gradient);

    @media screen and (max-width: 1040px) {
      flex-direction: column;
    }
  }

  &__data-block {
    text-align: center;
    padding: 36px 60px;
    width: calc(100% / 4);
    border-right: 2px solid var(--tetriary-border);

    @media screen and (max-width: 1040px) {
      width: 100%;
      border-right: none;
      border-bottom: 2px solid var(--tetriary-border);
    }

    &--last {
      border-right: none;
    }
  }

  &__number {
    color: var(--primary-blue);
    font-size: 30px;
    margin-bottom: 14px;
  }
}
